#ResultBackground{
  background-color: rgba(192, 192, 192, 0.2);
  height: auto;
}

#ResultsContainer1{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 0px;
  height: auto;
  border-radius: 5px;
  padding-left: 0px;
  padding-right: 0px;
}

#resultsparentcontainer{
  padding-left: 0px;
  padding-right: 0px;
}
#SearchContainer{
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 0px;
  height: 290px;
  background-color: white;
  border-radius: 5px;
}

#RecommendationContainer{
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 0px;
  height: 220px;
  background-color: white;
  border-radius: 5px;
}
