#ContractorSignUpFormWrapper{
  margin: auto;
  width: auto;
  height: auto;
}
form {
  height: auto;
}

.MuiTypography-root-49.MuiTypography-body1-58.MuiFormControlLabel-label-15{
  float: left !important;
}

.formtext{
  color: white;
  font-weight: 400;
  font-size: 23px;
  padding-top: 30px;
}

.MuiTypography-body1-58{
  color: white !important;
  width: auto;
}

#formsubmitbutton{
  margin-top: 50px;
  width: 90px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  background-color: white;
  border: none;
  outline: none !important;
}

#formsubmitbutton:hover{
  background-color: rgba(213,85,85,0.2);
}

#formsubmitbutton span{
  color: rgba(213,85,85,1);
  font-weight: 500;
  font-size: 20px;
}

#formsubmitbutton span:hover{
  color:  white;
}

#otherinput{
  float: right;
  margin-left: 0px;
}

#otherinputwrapper{
  cursor: pointer;
    display: inline-flex;
    align-items: center;
    margin-left: -14px;
    margin-right: 16px;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
}
.formtext{
  float: left;
}

.MuiFormGroup-root-11{
  width: 380px;
}
.textinput{
  display: block;
  width: 300px;
  color: white !important;
  background-color: transparent;
  border-radius: 0px;
  margin: auto;
}

.inputwrapper{
  height: auto;
  width: 300px;
  margin: auto;
}
.textinput::placeholder{
  color: white;
}

input {
  border-top: none;
  border-left: none;
  border-right: none;
}

@media screen and (max-width: 500px) {

  .MuiTypography-root-49.MuiTypography-body1-58.MuiFormControlLabel-label-15{
    width: 185px;
  }

  .MuiFormGroup-root-11{
  width: auto;
}

.inputwrapper{
  padding-top: 30px;
  width: 260px;
}

.textinput{
  width: 200px;
}

.formtext{
  float: left  !important;
  width: 260px;
}
}
