#ResultBackground{
  background-color: rgba(192, 192, 192, 0.2);
  height: auto;
}

#ResultsContainer{
  margin-top: 15px;
  margin-bottom: 20px;
  height: auto;
  background-color: white;
  border-radius: 5px;
}

#RelatedLawsH4{
  padding-top: 10px;
}
#MoreInfoRow{
  margin-top: 15px;
}

#SummaryH5{
  font-weight: 700;
}

#WhoItAffectsH5{
  font-weight: 700;
}

@media screen and (max-width: 500px) {
  #ResultsContainer {
  margin-left: 0px;
  margin-right: 20px;
  }

  #EventsContainer{
    margin-left: 0px !important;
    margin-right: 20px;
  }
  .SummaryCol{
    padding-bottom: 20px;
  }
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

#innerSearchContainerwrapper{
  padding-left: 10px;
  padding-bottom: 15px;
}

#SearchContainer{
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 0px;
  height: auto;
  background-color: white;
  border-radius: 5px;
}


@media screen and (max-width: 500px) {
  .Supplements {
  display: none;
  }
}

#RecommendationContainer{
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 0px;
  height: 220px;
  background-color: white;
  border-radius: 5px;
}

.MoreInfo{
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: #cccccc;
}

#LawTitle{
  font-weight: 700;
  padding-top: 25px;
  padding-bottom: 15px;
}

#SummaryRow{
  padding-top: 20px;
}

#TakeAction{
  color: white;
  padding-left: 3px;
  padding-right: 3px;
  font-size: 19px;
  margin-bottom: 0px;
}

.TakeActionButton{
  border: none;
  background-color: rgb(51, 105, 232);
  height: 50px;
  border-radius: 2px;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 20px;
}

.ActionIcon{
  margin-top: 30px;
  max-height: 100px;
  margin-bottom: 20px;
}

.ActionButton{
  border: none;
  background-color:  rgba(0,0,77,0.8) ;
  height: 35px;
  border-radius: 2px;
  font-weight: 500;
  margin-top: 15px;
  margin-bottom: 20px;
}

.ActionButton p{
  font-size: 16px;
  color: white;
  margin-bottom: 0px;
  padding-left: 2px;
  padding-right: 2px;
}

.Supplements{
  padding-right: 0px;
  padding-left: 0px;
}

.TakeActionButton:hover{
  background-color: rgb(23, 73, 190) ;
}

.ActionButton:hover{
  background-color:  rgba(0,0,77,1) ;
}

#EventsContainer{
  margin-top: 15px;
  margin-bottom: 15px;
  height: auto;
  margin-left: 5px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: white;
  border-radius: 5px;
}

#EventsH4{
  padding-bottom: 0px;
  padding-top: 20px;
  font-weight: 700;
}

#HowToContactRow, #MoreInfoRow{
  padding-top: 30px;
}

#MoreInfoWrapper1:hover, #MoreInfoWrapper2:hover, #MoreInfoWrapper3:hover {
  color: rgba(0,0,77,.8);
}

.HowToContactIcon{
  font-size: 45px;
  font-weight: 100;
  padding-bottom: 15px;
}

#InboxIcon{
  font-size: 45px;
}
.MoreInfoIcon{
  font-size: 35px;
  font-weight: 100;
  padding-bottom: 15px;
}

.MoreInfoP{
  font-weight: 500;
  font-size: 17px;
}

.HowToContactRow:hover {
  color: rgba(0,0,77,1) ;
}

.ActionCard{
  box-shadow: 2px 4px 8px 2px rgba(46,61,73,0.2);
  border-radius: 3px;
  position: relative;
  max-width: 330px;
  margin: auto;
}

.ActionCard:hover{
  box-shadow: 2px 2px 4px 1px rgba(46,61,73,0.2);
  background-color: rgba(192, 192, 192, 0.15);
}

#govcard{
  padding-right: 10px;
  margin-bottom: 30px;
  margin-top: 15px;
}

#megaphonecard{
  padding-left: 10px;
  margin-bottom: 30px;
  margin-top: 15px;
}
